* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 56px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;
}

h2 {
  font-size: 14px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.4; /* Reduced line height */
  margin-bottom: 10px; /* Reduced margin */
}

p {
  font-size: 14px;
  line-height: 1.6;
}

a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

a:hover {
  color: rgba(255, 255, 255, 1);
}

/* Responsive design */
@media (max-width: 600px) {
  h1 {
    font-size: 28px; /* Adjusted font size for small screens */
  }

  h2 {
    font-size: 12px;
  }

  p {
    font-size: 12px;
  }
}
