html, body, div, span, h1, h2, h3, p, a, img, section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  direction: ltr;
}
html {
  line-height: 2;
  direction: rtl;
}
a img {
  border: none;
}
body {
  color: #333;
  overflow: hidden;
  text-align: center;
  font-family: 'Poppins', Roboto, sans-serif;
  background: #f5f5f7;
}
h1 {
  font-size: 27px;
  font-weight: 900;
  padding: 0 10px;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.padDown {
  padding: 40px 0;
}
.outer {
  padding: 20px;
  overflow-x: hidden;
}
.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.profile {
  margin-top: 40px;
  border: 3px solid #fff;
  border-top-left-radius: 60% 60%;
  border-top-right-radius: 100% 75%;
  border-bottom-right-radius: 100% 90%;
  border-bottom-left-radius: 65% 100%;
}
.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.social a:hover {
  color: #fff;
  border-radius: 5px;
}
.social a {
  display: inline-block;
  color: inherit;
  padding: 12px 0 5px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: .5em;
}
.social-name img {
  width: 32px;
}
/* .social a:hover .social-icon {
  filter: brightness(0) invert(1);
} */
.social-name {
  color: #333;
}
/* .social-name:hover {
  background: #1c1c1c;
} */
